@page {
    size: A4;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
}

section[a4] {
    width: 210mm;
    height: 297mm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    padding: 20mm;
    position: relative;
}

@media print {
    body,
    section[a4] {
        margin: 0;
        box-shadow: none;
        gap: 0;
    }
}


#editor {
  position: absolute;
  z-index: 1;
  top: 20mm;
  left: 20mm;
  right: 20mm;
  bottom: 20mm;
  outline: none;
  border: none;
  resize: none;
}

/* Needs to be a toggle, user should be able to enable or disable any effect */
#editor:focus-within {
  /* Mellow elevate selection + add transition */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out; */

  /* Add a subtle scale effect + add padding */
  /* padding: 2mm;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out; */
}